//responsive
$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

//font
$font: 'Titillium Web', sans-serif;

//colors
$white: #fff;
$purple: #87509c;
$darkpurple: #643a79;
$orange: #eb7d4b;
$darkorange: #c86a40;
$green: #17c2a4;
$darkgreen: #14a58c;
$blue: #3c5499;
$darkblue:#344b8e;
$red: #f2454a;
$lightblue: #30bae7;
$darklightblue: #299ec5;

