@mixin button {
    width:100%;
    max-width: 300px;
    cursor: pointer;
    color:$white;
    text-transform: uppercase;
    font-size: 1.125em;
    display: grid;
    margin: auto;
    border: 0;
    padding: 27px 0;
}

@mixin line {
    width: 90px;
    border: 2px solid black;
    opacity: 0.15;
}