footer{
    background-color: $blue;
    padding: 120 0;

    h2{
        font-size: 2.5em;
        text-align: center;
        margin: 0;
    }

    .line{
        @include line;
    }

    p{
        text-align: center;
        padding-bottom: 80px;
    }

    .form{
            max-width: 860px;
            width: 90%;
            margin:0 auto;

            .button{
                @include button;
                background-color: $lightblue;
                border-bottom: 4px solid $darklightblue;
            }

        form{
            span{
                    margin: 2% 0;
                    display: inline-block;
                &::after{
                    content: " *";
                    color:$red;
                }
            }

            .first{
                margin-bottom: 25px;

                label{
                    width: 48%;
                    float: left;
                    &:first-child{
                        margin-right: 4%;
                    }
                    input{
                        padding: 4% 0;
                        display: block;
                        width: 100%;
                    }
                }

            }

            .second{

                textarea{
                    margin-bottom: 60px;
                    width: 100%;
                    border: 0;
                    background-color:$darkblue;

                }
            }
            input{
                background-color: $darkblue;
                border: none;
            }
        }

    }

}

.social{
    margin: 0 auto;
    background-color:$blue;
    display: grid;

    ul{
        li{
            display: inline-block;

           a{
               color:$white;
               text-decoration: none;
               
               margin-right: 60px;
               &:hover{
                color: $lightblue;
                }   
            }
        }
    }
}
